.adv-stats-glossary {
    h2 {
        display: inline;
    }
    .abbrev {
        font-weight: 200;
    }
    p {
        padding: 0 15px;
    }
    .oddRow {
        background-color: #e2e2e2;
    }
    .evenRow {
        background-color: #FFFFFF;
    }
}
